<div class="container-p-4">
    <div class="row">
        {{#each libros}}
        <div class="col md 3">
            <div class="card text-centered">
                <div class="card-body">
                    <a>
                        <h3 class="card-title">
                            {{tlibro}}
                        </h3>
                    </a>
                    <h4 class="m-2">Autor</h4>
                    <p class="m-4">{{tautor}}</p>
                    <h4 class="m-2">Descripcion</h4>
                    <p class="m-4">{{tdescripcion}}</p>
                    <a href="/libros/delete/{{id_libro}}" class="btn btn-danger">Borrar Libro</a>
                    <a href="/libros/edit/{{id_libro}}" class="btn btn-secondary">Editar Libro</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4-mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos, inserta un libro nuevo!</p>
                <a href="/libros/add">Insertar</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>